body {
        margin: 0;
        background: #f5efe4;
    }

    
    header {
        background: #d45b2c;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        color: white;
        
    }

    .logo-area {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 22px;
        font-weight: bold;
    }

    .logo-area img { width: 80px; }

    .search {
        background: white;
        padding: 6px 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .search input {
        border: none;
        outline: none;
        font-size: 15px;
    }

    .icons {
        display: flex;
        gap: 20px;
        font-size: 24px;
    }

    
    h2, h1 {
        text-align: center;
        font-size: 36px;
        margin-top: 25px;
        font-family: lem;
    }

    
    .section {
        display: flex;
        justify-content: space-around;
        padding: 20px 40px;
    }

    .section img {
        width: 260px;
        height: 180px;
        object-fit: cover;
        border-radius: 4px;
    }

    .text-block {
        width: 250px;
        line-height: 22px;
        font-size: 18px;
        margin-top: 15px;
    }

    
    .pratos {
        display: flex;
        justify-content: space-around;
        margin: 40px 20px;
    }

    .prato {
        text-align: center;
        width: 260px;
        font-size: 18px;
    }

    .prato img {
        width: 260px;
        height: 180px;
        object-fit: cover;
        border-radius: 4px;
    }

    footer {
        background: #f4a640;
        height: 60px;
        margin-top: 40px;
    }

    
    .cardapio-container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.linha-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    margin: 18px 0;
}

.linha-item img {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.item-esq, .item-dir {
    display: flex;
    align-items: center;
    gap: 15px;
}

    
    .form-container {
        padding: 40px;
        background: #f5efe4;
    }

    label {
        font-size: 22px;
        font-weight: bold;
    }

    input, textarea, select {
        width: 60%;
        padding: 10px;
        margin-top: 6px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid #999;
        background: #ccc;
    }

    textarea { resize: none; }

    .line {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .btn-area {
        text-align: right;
        margin-top: 25px;
    }

    .btn {
        padding: 10px 25px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        color: white;
        background: #d45b2c;
        margin-left: 10px;
    }

    .btn.cancelar {
        background: #b13a1c;
    }